<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="debug" internalLogFile="D:\${ProjectName}\logs\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="ProjectName" value="provider"/>
  <variable name="ApplicationLogPath" value="D:\${ProjectName}\logs"/>
  <variable name="ApplicationArchiveLogPath" value="D:\${ProjectName}\logs\archive"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <default-target-parameters xsi:type="File" archiveEvery="Day" archiveAboveSize="5242880" maxArchiveFiles="100" archiveNumbering="Rolling"
                               layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}][${logger}]${message}" />
    <target xsi:type="File" name="Performance" fileName="${ApplicationLogPath}\Performance.log"
            archiveFileName="${ApplicationArchiveLogPath}\Performance.log.{#}" />
    <target xsi:type="File" name="Request" fileName="${ApplicationLogPath}\Request.log"
            archiveFileName="${ApplicationArchiveLogPath}\Request.log.{#}" />
    <target xsi:type="File" name="Error" fileName="${ApplicationLogPath}\Exception.log"
            archiveFileName="${ApplicationLogPath}\Exception.log.{#}" />
    <target xsi:type="File" name="Server" fileName="${ApplicationLogPath}\Server.log"
            archiveFileName="${ApplicationLogPath}\Server.log.{#}" />
    <target xsi:type="File" name="Event" fileName="${ApplicationLogPath}\Event.log"
            archiveFileName="${ApplicationLogPath}\Event.log.{#}" />               
    <target xsi:type="File" name="Warning" fileName="${ApplicationLogPath}\Warning.log"
            archiveFileName="${ApplicationLogPath}\Warning.log.{#}" />                    
  </targets>

 <rules>
    <logger name="*" level="Error" writeTo="Error" />
    <logger name="*" level="Warning" writeTo="Warning" />
    <logger name="*" level="Info" writeTo="Performance" >
      <filters>
        <when condition="!contains('${message}','[PERFORMANCE]')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" level="Info" writeTo="Request" >
      <filters>
        <when condition="!contains('${message}','[REQUEST]')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" level="Info" writeTo="Server" >
      <filters>
        <when condition="!contains('${message}','[Server]')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" level="Info" writeTo="Event" >
      <filters>
        <when condition="!contains('${message}','[EVENT]')" action="Ignore" />
      </filters>
    </logger>    
  </rules>
</nlog>
